*{
  padding:0;
  margin:0;
  background-color: #F8EDE3;
}

body{
  width : 50%;
  margin:0 auto;

}

header{
  text-align:center;
}

header h1{
  font-size: 100px;
  color: #85586F
}


.input{
  margin-top:40px;
  font-size: 20px;
  color: #85586F;
  width:  100%;
  border: none;
  outline:none;
  border-bottom: 1px solid #2c3e50;
  padding: 5px;
}

.task{
  background-color: #D0B8A8;
  padding: 14px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px ;
  display: flex;
  justify-content: space-between;
}

.task span{
background-color: #D0B8A8;
  color:#85586F;
font-size:20px;
cursor: pointer;

}
.span-div{
  background-color: #D0B8A8;

}
.task .icon{
  background-color: #85586F;
  color:#D0B8A8;
  float: right;
  margin:0px 10px;
  padding:2px 10px;
  border-radius : 2px

}

article{
  display: grid;
}

.edit-todo-input{
  background-color: #6c6777;
  width: 100%;
  font-size : 20px;
  padding: 10px;
  color:#F8EDE3;
  border:none;
 border-bottom:2px solid #85586F;
 outline: none;
}


.button{
  margin : 20px 10px;
  padding: 10px;
  font-size: 14px;
  color : #85586F;
  background-color: #D0B8A8;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius : 5px
}
.tab{
  display: flex;
  justify-content: space-between;
}
.button.selected{
  color:#fff;
  background: #6c6777;

}

.btn.clear{
  color : #D0B8A8;
  background-color: #85586F;
  border: none;
  cursor: pointer;
  width: 190px;
  font-size: 14px;
  border-radius : 5px;
   margin : 20px 0px;
  padding: 10px;
}